# Created by https://www.toptal.com/developers/gitignore/api/macos,venv,windows,python,jupyternotebooks

### General ###
testing/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### OS Specific ###
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### Python & Virtual Environments ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

### Jupyter / IPython ###
profile_default/
ipython_config.py

### Tools & Configs ###
# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Linting & Formatting
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# IDEs
.spyderproject
.spyproject
.ropeproject
#.idea/
pyrightconfig.json

### Frameworks & Libraries ###
# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Package Managers
#Pipfile.lock
#poetry.lock
#pdm.lock
.pdm.toml
__pypackages__/
poetry.toml

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# MkDocs
/site